.table {

  th,
  td {
    text-align: center;
  }

  button {
    padding: 10px;
    cursor: pointer;
  }
}

h2 {
  font-size: 25px;
  font-weight: 400;
}
.search{
  background-color: #e8d8d8;
  input{
    color: brown;
  }
}