.bnx-main-div-two {
    background-color: rgb(251, 251, 243);
    height: 85vh;
    width: 50%;
}

.bnx-login-page-login {
    padding-top: 180px;
    justify-content: center;
    padding-left: 50px;

    h2 {
        font-size: 38px;
        font-weight: 600;
        color: blueviolet;
    }

    label {
        font-weight: 300;
        padding-bottom: 5px;
    }

    input {
        height: 50px;
    }
}

.bnx-login-page-title {
    padding-top: 160px;
    text-align: center;
    margin: auto;

    h1 {
        font-weight: 600;
        color: blueviolet;
        font-size: 38px;

    }

    p {
        font-weight: 350;

    }

}

button {
    padding: 12px 50px 12px 50px;
    color: blue;
    font-weight: 600;
}

marquee {
    h6 {
        color: red;
        padding-top: 15px;
        font-size: 15px;
    }

}

/* Default styles for larger screens */
.bnx-main-div-two {
    background-color: rgb(251, 251, 243);
    height: 85vh;
    width: 50%;
}

.bnx-login-page-login {
    padding-top: 180px;
    justify-content: center;
    padding-left: 50px;

    h2 {
        font-size: 38px;
        font-weight: 600;
        color: blueviolet;
    }

    label {
        font-weight: 300;
        padding-bottom: 5px;
    }

    input {
        height: 50px;
    }
}

.bnx-login-page-title {
    padding-top: 160px;
    text-align: center;
    margin: auto;

    h1 {
        font-weight: 600;
        color: blueviolet;
        font-size: 38px;
    }

    p {
        font-weight: 350;
    }
}

button {
    padding: 12px 50px 12px 50px;
    color: blue;
    font-weight: 600;
}

marquee {
    h6 {
        color: red;
        padding-top: 15px;
        font-size: 15px;
    }
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
    .bnx-main-div-two,.bnx-main-div {
        width: 100%;
        text-align: center;
    }

    .bnx-login-page-login {
        h2 {
            font-size: 28px;
        }

        input {
            width: 100%;
        }
    }

    .bnx-login-page-title {
        text-align: center;

        h1 {
            font-size: 30px;
        }
    }

    button {
        width: 100%;
    }
}
