
  

  .emp-head{
    background-image: url(https://t3.ftcdn.net/jpg/02/39/39/92/360_F_239399223_tthRTvt26El5ccmyQIck9ySsHKgX5YBo.jpg);
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    margin: auto;
    h1 {
        color: #fff;
        font-weight: 800;
        font-size: 35px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }
      p{
        color: yellow;
        font-weight: 500;
      }
    
  }

  .details{
    background-image: url(https://img.freepik.com/free-vector/colorful-watercolor-background_23-2148492944.jpg);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 25px; 
    img{
        padding-top: 50px;
        border-radius: 20px;
    }
  }

  table{
  margin: auto;
  width: 85%;
  height: 350px;
  border-radius: 20px;
  border:5px;
  thead{
    height: 60px;
  }
  td{
    color: black;
  }
  th{
    color:yellow;
    font-size: 20px;
  }
  
  }
  h2{
    font-weight: 400;
    font-size: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
  }