<a class="btn ms-2 me-2 mt-3" (click)="goBack()">
  <i class="fa-solid fa-2xl fa-circle-left" style="color: #000000"></i>
</a>

<!-- emp -trainnig head -->

<div class="container emp-head row">
  <div class="col-8">
    <h1 class="pt-4">Trainning Time</h1>
    <p class="pt-2">Welcome to the employee training page!</p>
    <button class="btn btn-danger mt-5">Beinex-page</button>
  </div>
</div>
<div class="container text-center mt-5">
  <div class="row mt-4 details">
    <div class="container mt-4">
      <h2>Training Details</h2>

      <table class="table-bordered">
        <thead>
          <tr>
            <th>Training Topic</th>
            <th>Date</th>
            <th>Location</th>
            <th>Trainer</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Introduction to Company Policies</td>
            <td>January 15, 2024</td>
            <td>Training Room A</td>
            <td>Aiswarya</td>
          </tr>
          <tr>
            <td>Effective Communication Skills</td>
            <td>February 3, 2024</td>
            <td>Training Room F</td>
            <td>Rju Smith</td>
          </tr>
          <tr>
            <td>Effective Communication Skills</td>
            <td>February 3, 2024</td>
            <td>Training Room B</td>
            <td>Rju Smith</td>
          </tr>
          <tr>
            <td>Effective Communication Skills</td>
            <td>February 3, 2024</td>
            <td>Training Room C</td>
            <td>Rju Smith</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
